<table>
  <tr>
    <td><%= following_pending_or_not(user_profile, target_profile) %></td>
    <td><%= following_me_pending_or_not(user_profile, target_profile) %></td>
  </tr>
  <tr>
    <td><%= following_pending_or_not_link(user_profile, target_profile) %></td>
    <td><%= following_me_pending_or_not_link(user_profile, target_profile) %></td>
  </tr>
</table>