<div class="o-media c-newsfeed-item__media">
  <%= image_tag item.source.profile_photo, class: "o-media__img o-image--small o-image--round c-newsfeed-item__media__img" %>
  <div class="o-media__bd c-newsfeed-item__media__bd">
    <p></p>
    <p></p>

  </div>
</div>