<div class="o-wrapper">
  
  <div class="o-bubble-heading">
    <h4 class="o-bubble-heading--left"><i class="fa fa-commenting-o u-text--monte-carlo"></i>Write a Post</h4>
    <h5 class="o-bubble-heading--right"><%= link_to "Manage RSS Feeds", profile_profile_feeds_path(@profile.id), class: "u-text--apricot" %></h5>
  </div>

  <div class="o-bubble o-bubble--full o-bubble--no-pad o-bubble--with-heading c-newsfeed-composer">
  <%= render partial: "profiles/newsfeed_items/composer", locals: {item: @newsfeed_item, profile: @profile} %>
  </div> <!-- o-bubble -->

  <%= react_component 'NewsfeedItems', {url: profile_newsfeed_items_path(@profile)} %>
  
  
</div> <!-- o-wrapper -->