<div class="o-wrapper">

  <div class="new-newsfeed-item">
    <h4><i class="fa fa-commenting-o"></i>Write a Post</h4>
    <div class="o-bubble o-bubble--full o-bubble--no-pad c-newsfeed-composer">
    <%= render partial: "profiles/newsfeed_items/composer", locals: {item: @newsfeed_item, profile: @profile} %>
    </div> <!-- o-bubble -->
    <h4><%= link_to "Manage RSS Feeds", profile_profile_feeds_path(@profile.id) %></h4>
  </div> <!-- new-newsfeed-item -->

  <% if @newsfeed_items.empty? %>
    <h2>Looks like your feed is empty!</h3>
  <% else %>
    <%= render partial: "profiles/newsfeed_items/newsfeed_list", locals: {newsfeed_items: @newsfeed_items, profile: @profile} %>
  <% end %>
  
</div> <!-- o-wrapper -->