<div class="newsfeed-index">
  <h1>Your Feed</h1>
  <% if @newsfeed_items.empty? %>
    <h2>Looks like your feed is empty!</h3>
  <% else %>
    <%= render partial: "profile_matches_user/newsfeed_items/newsfeed_list", locals: {newsfeed_items: @newsfeed_items, profile: @profile} %>
  <% end %>
</div>