<table class="settings-overview-table">
  <tr>
    <td>Habits and challenges</td>
    <td><%= boolean_yes_or_no(sharing.improvements).capitalize %></td>
  </tr>
  <tr>
    <td>Following a new person</td>
    <td><%= boolean_yes_or_no(sharing.follow).capitalize %></td>
  </tr>
  <tr>
    <td>Assessing emissions</td>
    <td><%= boolean_yes_or_no(sharing.footprint).capitalize %></td>
  </tr>
</table>