<div class="profile-challenges-index">
  <h1>Improve yo shit</h1>
  <div class="challenges"></div>
  <div class="habits">

    <div class="started-habits">
      <h2>Habits in progress</h2>
      <% if @profile_habits[:started].empty? %>
        <h4>You're not working on any habits</h4>
      <% else %>
        <%= render partial: "profile_matches_user/profile_habits/started_habits_list", locals: {profile_habits: @profile_habits[:started], profile: @profile} %>
      <% end %>
    </div>

    <div class="new-habits">
      <h2>Habits to start</h2>
      <% if @unstarted_habits.empty? %>
        <h4>No more habits left to start!</h4>
      <% else %>
        <%= render partial: "profile_matches_user/profile_habits/unstarted_habits_list", locals: {habits: @unstarted_habits, profile: @profile} %>
      <% end %>
    </div>

    <div class="completed-habits">
      <h2>Completed habits</h2>
      <% if @profile_habits[:completed].empty? %>
        <h4>You haven't completed any habits yet</h4>
      <% else %>
        <%= render partial: "profile_matches_user/profile_habits/completed_habits_list", locals: {profile_habits: @profile_habits[:completed], profile: @profile} %>
      <% end %>
    </div>

  </div> <!-- habits -->
</div>
