<% if profile.newsfeed_items.empty? %>
  <h3>Looks like your feed is empty!</h3>
<% else %>
  <%= react_component 'NewsfeedItems', {url: profile_newsfeed_items_path(profile), currentProfileID: profile.id, currentProfilePhoto: profile.profile_photo} %>
<% end %>