<% unless follows.empty? %>
  
  <% follows.each do |follow| %>
    <div class="c-profile-summary">
      <%= link_to((image_tag(follow.follower.profile_photo, class: "o-img--large o-img--round c-profile-summary__el").html_safe), profile_path(id: follow.follower.id)) %>
      <h3><%= follow.follower.full_name %></h3>
      <h4 class="c-profile-summary__el"><%= follow_link(profile, follow.follower) %></h4>
    </div>
  <% end %>

<% else %>
  
  <h3>You currently have no followers</h3>

<% end %>