<% unless subscriptions.empty? %>
  
  <% subscriptions.each do |subscription| %>
    <%= react_component 'ProfileOverview', profilePath: profile_path(subscription.following), profileImg: subscription.following.profile_photo, subscriptionSummary: subscription_summary(@profile, subscription.following), profileName: subscription.following.full_or_abbrev_name, currentProfileID: @profile.id, targetProfileID: subscription.following_id %>
  <% end %>

<% else %>
  
  <h3>You currently are not following anyone</h3>

<% end %>