<div class="settings-index">
  <h1>Settings for <%= @profile.full_name %></h1>
  
  <div class="privacy-settings settings-section">
    <h2 class="section-header">Privacy Settings</h2>
    <p class="section-description">Who gets to see what?</p>
    <%= render :partial "profile_matches_user/privacy_settings/overview_list" %>
  </div>

  <div class="sharing-settings settings-section">
    <h2 class="section-header">Sharing Settings</h2>
    <p class="section-description">What do you post to your followers?</p>
    <%= render :partial "profile_matches_user/sharing_settings/overview_list" %>
  </div>
</div>  