<div class="o-wrapper centered-content">

  <div class="o-bubble">
    <h1>Help</h1>
    <h2>Need some assistance?</h2>
    <p>Want some help? Find that shit here. This is where we'll put all of our help info.</p>
  </div>

</div> <!-- o-wrapper centered-content -->