<div class="o-wrapper">

  <div class="o-bubble o-bubble--full">
    <h1>Terms &amp; Conditions</h1>
    <h2>Check out our legal shit</h2>
    <p>This is where we'll put our legal shit.</p>
  </div>

</div>