<% if notifications.empty? %>
    <li class="notification-list-item o-dropdown__li">
      No notifications!
    </li>
  <% else %>
    <% notifications.last(4).reverse.each do |notification| %>
      <li class="notification-list-item o-dropdown__li">
          <%= image_tag notification.image, class: "o-img--round o-img--tiny" %>
          <%= notification.text %>
          <%= link_to "View", notification.link, class: "notification-link" %>
      </li>
    <% end %>
    <% if notifications.length > 4 %>
      <li class="notification-list-item o-dropdown__li">
        <%= link_to "View all", profile_notifications_path(profile_id: profile.id) %>
      </li>
    <% end %>
  <% end %>