<ul>
  <li class="notifications-title-item">
    Notifications
    <span class="right-side"><%= link_to "Settings", profile_general_settings_path(profile_id: profile.id) %></span>
  </li>
  <% if profile.notifications.empty? %>
    <li>
      No notifications!
    </li>
  <% else %>
    <% profile.notifications.last(5).reverse.each do |notification| %>
      <li>
          <%= notification.text %>
          <%= link_to "View", notification.link, class: "notification-link" %>
      </li>
    <% end %>
  <% end %>
  
</ul>