<% if pending_follows.empty? %>
    <li class="o-dropdown__li">
      No pending followers!
    </li>
  <% else %>
    <%= react_component 'FollowerRequestsMenuList', {requests: pending_follows} %>
  <% end %>