<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to Nu!</h2>

    <h3>We're so happy to have you here! <%= link_to "Nu", "http://www.nu.world" %></h3>

    <h4>Mahalo, <br>
    The team at Nu</h4>
    
  </body>
</html>