<%= render partial: "nav_bars/empty_calculator_overview" %>

<div class="o-wrapper">
  <div class="o-bubble o-bubble--full o-bubble--centered-content">
    <p><%= image_tag('calculator_prompt_leaf.png', class: "o-img--small") %></p>
    <h2>You're ready to start a new assessment.</h2>
    <h5>Let's determine your environmental footprint.</h5>
    <p><%= button_to("Start", profile_footprints_path(@profile.id), method: :post) %></p>
  </div>
</div>