<div class="o-wrapper">
  
  <div class="o-bubble o-bubble--full c-footprint-results">
    <h2 class="c-footprint-results__title">
      Final Results
    </h2>
    <%= render partial: "profiles/footprints/footprint_summary", locals: {footprint: @footprint, index: 0} %>
  </div> <!-- o-bubble o-bubble--full -->
  
</div> <!-- o-wrapper -->