<h2 class="o-stat-section__section--top__heading">Emissions Allowance</h2>
<p class="c-emissions-allowance__desc">Per person monthly allowance based on U.S. gaols to reduce emissions by 26-28% by 2025. <span class="c-emissions-allowance__desc__learn"><%= link_to "Learn more", "#", class:"u-text--orange" %></span></p>
<div class="c-emissions-allowance__progress">
    Shares used
    <div class="c-emissions-allowance__progress__bar">
      <div class="c-emissions-allowance__progress__bar__cover" style="width: <%= 100 - recent_footprint_allotment_percentage(profile.last_finished_footprint) %>%"></div>
    </div>
    <%= recent_footprint_allotment_percentage(profile.last_finished_footprint) %>%
  </p>
</div>