<h2>Leaderboard</h2>
<ul class="leaderboard-list">
  <% leaderboards_around_profile(profile.id, 3).each do |leader_profile| %>

  <li class="leaderboard-profile <%= is_current_profile_leader(profile.id, leader_profile.id) %>">
    <%= image_tag(leader_profile.profile_photo) %>
    <%= leader_profile.full_name %>
    <%= leader_profile.point_overview.total %>
  </li>
  
  <% end %>
</ul>