<h2>Leaderboard</h2>
<ul class="leaderboard-list">
  <% leaderboards_around_profile(profile.id, 3).each do |leaderboard_profile| %>

  <li class="leaderboard-profile <%= is_current_profile_leaderboard(profile.id, leaderboard_profile.id) %>">
    <%= image_tag(leaderboard_profile.profile_photo) %>
  </li>
  
  <% end %>
</ul>