<li class="profile-menu-summary">
  <ul>
      <li><%= profile.full_name %></li>
      <li><%= profile.point_overview.total %>pts</li>
      <li><%= link_to "View profile", profile_path(profile) %></li>
    </ul>  
</li>