<%= image_tag(profile.profile_photo, class: "c-prof-dropdown__prof-summary__img") %>
<h3 class="c-prof-dropdown__prof-summary__name"><%= profile.full_name %></h3>
<h5><%= link_to "View profile", profile_path(profile), class: "u-text--orange" %></h5>