<table class="c-top-nav c-top-nav--shallow">
  <tbody>
    <tr>
      
      <td class="c-top-nav__nav-section--half">
        
        <%= link_to image_tag("nu_color_logo.svg", class: "c-top-nav__nav-section__img" ), root_path %>

      </td>
      
      <td class="c-top-nav__nav-section--half">

        <div><%= link_to "About", about_general_path %></div>
        <div><%= link_to "Feedback", new_feedback_path %></div>
        <% if session[:user_id] %>
          <div><%= link_to("Logout", logout_path, method: :delete) %></div>
        <% end %>

      </td>

    </tr>
  </tbody>
</table>