<table class="nav-bar top-nav shallow-top">
  <tr class="nav-items">
    
    <!-- left -->
    <td class="nav-section">
      <div id="home-logo"><%= link_to image_tag("nu_color_logo.svg"), root_path %></div>
    </td>
    <!-- left -->

    <!-- right -->
    <td class="nav-section">
      <div><%= link_to "About", about_general_path %></div>
      <div><%= link_to "Feedback", new_feedback_path %></div>
    </td>
    <!-- right -->
  </tr>
</table>