<table class="c-top-nav c-top-nav--shallow">
  <tr class="nav-items">
    
    <!-- left -->
    <td class="nav-section">
      <div id="home-logo"><%= link_to image_tag("nu_color_logo.svg"), root_path %></div>
    </td>
    <!-- left -->

    <!-- right -->
    <td class="nav-section">
      <div><%= link_to "About", about_general_path %></div>
      <div><%= link_to "Feedback", new_feedback_path %></div>
      <% if session[:user_id] %>
        <div><%= link_to("Logout", logout_path, method: :delete) %></div>
      <% end %>
    </td>
    <!-- right -->
  </tr>
</table>