<% if !profile.profile_blocked_profiles.empty? %>
  <ul class="blocked-profiles-list">
    <% profile.profile_blocked_profiles.each do |pbp| %>
      <li>
        <%= pbp.blocked_profile.full_or_abbrev_name %> 
        <%= button_to('X', profile_profile_blocked_profile_path(profile_id: profile.id, id: pbp.id), method: :delete, data: {confirm: "Unblock #{pbp.blocked_profile.first_name}?"}) %>  
      </li>
    <% end %>
    <% if profile.profile_blocked_profiles.length > 2 %>
      <li><%= link_to "View all", profile_profile_blocked_profiles_path(profile) %></li>
    <% end %>
  </ul>
<% else %>
  <h2>No blocked profiles</h2>
<% end %>