<div class="o-wrapper">

  <div class="o-bubble o-bubble--full">
    <h1>Blocked Profiles</h1>
    <% if !@profile_blocked_profiles.empty? %>
      <ul class="blocked-profiles-list">
        <% @profile_blocked_profiles.each do |pbp| %>
          <li>
            <%= image_tag pbp.blocked_profile.profile_photo, class: "profile-photo" %>
            <%= pbp.blocked_profile.full_or_abbrev_name %>
            <%= button_to('X', profile_profile_blocked_profile_path(profile_id: @profile.id, id: pbp.id), method: :delete, data: {confirm: "Unblock #{pbp.blocked_profile.first_name}?"}) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h2>You have no blocked profiles!</h2>
    <% end %>
  </div> <!-- o-bubble o-bubble--full -->
  
</div> <!-- o-wrapper -->