<div class="c-progress-challenge-bar">
  <div class="c-progress-challenge-bar__mute" style="width: <%= 100 - challenge_progress_width(psc) %>%; left: <%= challenge_progress_width(psc) %>%"></div>
  <%= dots_for_progress_bar(psc) %>
</div>