<div class="c-progress-challenge-bar">
  <div class="c-progress-challenge-bar__mute" style="width: <%= 100 - challenge_progress_width(psc) %>%; left: <%= challenge_progress_width(psc) %>%"></div>
  <div class="c-progress-challenge-bar__point c-progress-challenge-bar__point--1"></div>
  <div class="c-progress-challenge-bar__point c-progress-challenge-bar__point--2"></div>
  <div class="c-progress-challenge-bar__point c-progress-challenge-bar__point--3"></div>
</div>