<div class="o-wrapper">
  
  <div class="o-bubble o-bubble--full new-challenge-prompt">
    <p><i class="fa fa-large fa-trophy"></i></p>
    <p>Start a new challenge</p>
    <p><%= link_to "Browse Challenges", profile_challenges_path(profile_id: @profile.id) %></p>
  </div>

  <div class="challenge-headers">
    <h4>
      Current Challenges
      <%= link_to "View Completed Challenges", profile_profile_completed_challenges_path(@profile.id), class: "challenge-navigation-link orange-link" %>
    </h4>
  </div> <!-- o-bubble o-bubble--fulle new-challenge-prompt -->

  <div class="o-bubble o-bubble--full">
    <ul class="current-challenges-list">
      <%= render partial: "profiles/challenges/profile_started_challenges/current_challenges_list", locals: {profile_started_challenges: @profile_started_challenges, profile: @profile} %>
    </ul>
  </div> <!-- o-bubble o-bubble--full -->

</div> <!-- o-wrapper -->