<div class="wrapper centered-content">
  
  <div class="component new-challenge-prompt">
    
  </div>

  <div class="challenge-headers">
    <h4>
      Current Challenges
      <%= link_to "View Completed Challenges", profile_profile_completed_challenges_path(@profile.id), class: "challenge-navigation-link orange-link" %>
    </h4>
  </div>

  <div class="component">
    <ul class="current-challenges-list">
      <%= render partial: "profiles/challenges/profile_started_challenges/current_challenges_list", locals: {profile_started_challenges: @profile_started_challenges, profile: @profile} %>
    </ul>
  </div> <!-- component -->

</div> <!-- wrapper centered-content -->