<div class="o-wrapper">
  
  <div class="o-bubble o-bubble--full c-new-challenge-prompt">
    <h1><i class="fa fa-2x fa-trophy u-text--green"></i></h1>
    <h2>Start a new challenge</h2>
    <h2><%= button_to "Browse Challenges", profile_challenges_path(profile_id: @profile.id), method: :get %></h2>
  </div>

  <div class="c-challenges-list__heading">
    <h4 class="c-challenges-list__heading__left">
      Current Challenges
    </h4>
    <h5 class="c-challenges-list__heading__right">
      <%= link_to "View Completed Challenges", profile_profile_completed_challenges_path(@profile), class: "u-text--orange" %>
    </h5>
  </div> <!-- o-bubble o-bubble--full new-challenge-prompt -->

  <div class="o-bubble o-bubble--full">
    <ul class="c-challenges-list">
      <%= render partial: "profiles/challenges/profile_started_challenges/current_challenges_list", locals: {profile_started_challenges: @profile_started_challenges, profile: @profile} %>
    </ul>
  </div> <!-- o-bubble o-bubble--full -->

</div> <!-- o-wrapper -->