<div class="o-wrapper">

  <div class="c-rss-manage">
  
    <h1>Manage RSS Feeds</h1>

    <div class="c-rss-manage__new">
      <%= form_for(Feed.new, url: profile_feeds_path, method: :post) do |f| %>
        <%= f.text_field :url, placeholder: "Post RSS Link here ", class: "c-rss-manage__new__field" %>
        <%= f.submit "Add Feed", class: "c-rss-manage__new__submit" %>
      <% end %>
    </div>

    <%= react_component 'RSSManager', {url: profile_profile_feeds_path(@profile), profileID: @profile.id} %>

  </div> <!-- c-rss-manage -->

</div> <!-- wrapper -->