.u-text--wild-willow {
  color: $color-wild-willow !important;
}

.u-text--apricot {
  color: $color-apricot !important;
}

.u-text--monte-carlo {
  color: $color-monte-carlo;
}

.u-text--silver-sand {
  color: $color-silver-sand;
}

.u-text--edward {
  color: $color-edward;
}

.u-text--flax {
  color: $color-flax;
}