.u-text--wild-willow {
  color: $color-wild-willow !important;
}

.u-text--apricot {
  color: $color-apricot !important;
}

.u-text--monte-carlo {
  color: $color-monte-carlo !important;
}

.u-text--silver-sand {
  color: $color-silver-sand !important;
}

.u-text--edward {
  color: $color-edward !important;
}

.u-text--flax {
  color: $color-flax !important;
}

.u-text--white {
  color: $color-white !important;
}