button {
  background: $color-monte-carlo;
  border: none;
  color: $color-white;
  outline: none;
  padding: $spacing-unit / 2;
}

.button--orange {
  background: $color-bridesmaid;
  color: $color-apricot;
  border: 1px solid $color-apricot;
}