input[type="text"], input[type="password"], textarea, select {
  color: $color-black;
  margin-bottom: $spacing-unit;
}

input[type="text"], input[type="password"], textarea {
  width: 85%;
}

input[type="text"], input[type="password"] {
  font-size: 92%;
  height: $spacing-unit;
  padding: 0px 10px;
}

textarea {
  border: 1px solid $color-alto;
  font-size: 100%;
  outline: none;
  padding: 10px;
  resize: none;
}

input[type="checkbox"] {
  color: $color-monte-carlo;
  margin-bottom: $spacing-unit / 2;
}

input[type="submit"] {
  background: $color-monte-carlo;
  border: none;
  border-radius: 100px;
  color: $color-white;
  outline: none;
  padding: $spacing-unit / 2 $spacing-unit;
  &:hover {
    cursor: pointer;
  }
}

label {
  color: $color-sirocco;
}