body {
  background: #F4F4F4;
  font-family: sans-serif;
}

.content {
  height: 90%;
  position: absolute;
  width: 100%;
}

.component, .top-nav, .dropdown-menu {
  background-color: white;
}

.component {
  border: 1px solid #D5D4D4;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
  border-radius: 10px;
  display: inline-block;
  margin: $spacing-unit;
  padding: $spacing-unit;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  padding-top: 20px;
}

h2 {
  font-size: 2em;
  margin-bottom: 15px;
  margin-top: 15px;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 12px;
  margin-top: 12px;
}

p {
  color: #8F8F8F;
  font-size: 1.1em;
  line-height: 1.9em;
}

.wrapper {
  margin: $spacing-unit auto;
  max-width: 800px;
}

.centered-content > div {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.left-side {
  float: left;
}

.right-side {
  float: right;
}

.icon-button button {
  background: none;
  border: none;
}

.hidden {
  display: hidden;
}