body {
  background-color: #F6F6F6;
  color: #464646;
  font-family: sans-serif;
}

body > div, body > table {
  background-color: white;
}

.main-body {
  width: 100%;
}

.main-body > div {
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 80%;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  font-size: 2em;
  margin-bottom: 15px;
  margin-top: 15px;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 12px;
  margin-top: 12px;
}

p {
  color: #8F8F8F;
  font-size: 1.1em;
  line-height: 1.9em;
}

.left-side {
  float: left;
}

.right-side {
  float: right;
}

.main-body {
  float: left;
}

.icon-button button {
  background: none;
  border: none;
}

.hidden {
  display: hidden;
}