.beta-page {
  margin-top: 5%;
  text-align: center;
}

.beta-logo {
  height: 450px;
  min-height: 200px;
  min-width: 200px;
  width: 450px;
}

.beta-page .about, .beta-thanks {
  margin: 0 auto;
  margin-bottom: 20px; 
  max-width: 600px;
}

.beta-page .header {
  margin-bottom: 25px;
}

.beta-page .header, .beta-signup-link h3:first-child {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.beta-signup-link h3:first-child {
  display: inline-block;
}

.beta-page .beta-sign-up {
  margin-left: 30%;
  margin-top: 10%;
  text-align: left;
}

.beta-sign-up h2:first-child {
  margin-bottom: 40px;
}

.beta-page p {
  line-height: 30px;
}

.beta-page .submit-button {
  margin-bottom: 40px;
  margin-top: 20px;
}

// .beta-thanks {
//   margin-top: 10%;
// }