.sub-section-overview {
  margin-top: 40px;
}

.sub-section-overview h2 {
  margin-bottom: 15px;
}

.sub-section-overview h3 {
  margin-top: 5px;
}

.sub-section-overview h4 {
  margin-top: 10px;
}

.sub-section-overview table {
  margin-left: 10px;
}

.sub-section-overview td:first-child {
  font-size: 1.27em;
  padding-bottom: 10px;
}

.sub-section-overview td:last-child {
  color: #6A5049;
  padding-left: 10px;
}