.challenge-headers {
  padding: $spacing-unit 0 $spacing-unit / 2 0;
}

.challenge-navigation-link {
  display: inline-block;
  float: right;
  margin-right: -48px;
  text-align: right;
  text-decoration: none;
}

.challenges-index h1:first-child {
  margin-bottom: 45px;
}

.challenges-index .challenges > div {
  margin-bottom: 45px;
}

.challenges-index ul {
  margin-left: 20px;
}

.challenges-index li {
  box-shadow: -4px 2px 2px $nu-green, 4px -2px 2px $nu-green;
  margin-bottom: 20px;
  padding: 15px;
  width: 450px;
}

.challenges-index li .challenge-title {
  margin-bottom: 5px;
}

.challenges-index li .challenge-link {
  margin-top: 10px;
}

.challenge-overview span {
  color: $nu-blue;
  margin-left: 15px;
}

.profile-habits-show h1 span {
  color: $nu-blue;
  font-size: 0.7em;
  margin-right: 10px;
}

.challenges-show h1 span {
  color: $faded-gray;
  font-size: 0.6em;
  padding-left: 30px;
}