.diet-form {
  width: 700px; 
}

.diet-form h2:first-child {
  margin-bottom: 5px;
}

.diet-form p:nth-child(2) {
  margin-bottom: 35px;
}

.diet-form .radio-button-form {
  margin-bottom: 20px;
}

.diet-form .submit-form {
  margin-top: 35px;
}