.dropdown-menu {
  border-right: 1px solid $nu-blue;
  border-left: 1px solid $nu-blue;
  display: none;
  float: right;
  position: absolute;
  right: 0;
  width: 300px;
}

.dropdown-menu li {
  background: white;
  border-bottom: 1px solid $nu-blue;
  border-collapse: true;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.dropdown-menu .profile-menu-summary {
  height: 105px;
}

.dropdown-menu .profile-menu-summary li {
  border: none;
  height: 25px;
  line-height: 25px;
}

.dropdown-menu .profile-menu-summary li:first-child {
  margin-top: 30px;
}

.dropdown-menu .profile-menu-summary li:last-child {
  margin-bottom: 15px;
}

.dropdown-menu .user-menu-summary {
  height: 80px;
}

.expanded-menu {
  display: block;
}

.profile-dropdown-menu-button button {
  display: inline-block;
  height: 70px;
  width: 70px;
}

.profile-dropdown-menu-button button i {
  color: #8B8B8B;
}

.profile-dropdown-menu-button button i:first-child {
  border-radius: 15px;
  margin-right: 5px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
}

.profile-dropdown-menu-button button:hover {
  background: #8B8B8B;
  border-radius: 30px;
}

.profile-dropdown-menu-button button:hover i {
  color: white;
}