.profile-feeds-index .profile-feeds-list li {
  margin-top: 20px; 
  width: 250px;
}

.profile-feeds-index .profile-feeds-list a {
  color: $nu-blue;
  text-decoration: none;
}

.profile-feeds-index .profile-feeds-list li form {
  display: inline-block;
  float: right;
}

.suggested-profile-feeds .suggested-feed-list li {
  margin-top: 40px;
}

.suggested-profile-feeds .suggested-feed-list h3 {
  margin-bottom: 0px;
}

.suggested-profile-feeds .suggested-feed-list li p {
  font-size: 0.8em;
}

