.profile-feeds-index .profile-feeds-list li {
  margin-top: 20px; 
  width: 250px;
}

.profile-feeds-index .profile-feeds-list a {
  color: $nu-blue;
  text-decoration: none;
}

.profile-feeds-index .profile-feeds-list li form {
  display: inline-block;
  float: right;
}