.footprints-show h1:first-child {
  margin-bottom: 3px;
}

.footprints-show .footprint-date {
  margin-bottom: 40px;
  margin-left: 10px;  
}

.footprints-show .total-emissions span {
  display: inline-block;
  font-size: 0.8em;
}