form {
  max-width: 790px;
}

.text-form-with-errors, .select-form-with-errors {
  margin-bottom: 18px;
}

input[type="text"], input[type="password"], textarea {
  font-size: 92%;
  margin-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

input[type="text"], input[type="password"] {
  height: 25px;
}

textarea {
  line-height: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.submit-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-label {
  color: $faded-gray;
}

.text-form-with-errors .form-label {
  margin-left: 10px;
  margin-top: 3px;
}

.error-message {
  color: red;
}

.inline-field {
  display: inline-block;
}

.inline-field:nth-of-type(1) {
  margin-right: 20px;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
}

.radio-button-list li, .check-list li {
  margin-bottom: 25px;
  margin-left: 10px;
}

.form-question {
  margin-bottom: 10px;
  margin-top: 25px;
}

.inline-list li {
  display: inline-block;
}

.text-field-with-unit {
  margin-bottom: 25px;
}

.text-field-with-unit input, .text-field-with-unit select {
  display: inline-block;
}

.text-field-with-unit input {
  margin-right: 10px;
  width: 70%;
}

.text-field-with-unit select {
  width: 17%;
}

.section-prompt {
  margin-bottom: 25px;
}