.form-with-errors {
  margin-bottom: 18px;
}

input[type="text"], input[type="password"] {
  font-size: 92%;
  font-style: italic;
  height: 25px;
  margin-bottom: 5px;
  padding-left: 10px;
  width: 100%;
}

.form-with-errors .form-label {
  display: block;
  margin-left: 10px;
}

.inline-field {
  display: inline-block;
}

.inline-field:nth-of-type(1) {
  margin-right: 20px;
}
