.profile-challenges-index h1:first-child {
  margin-bottom: 45px;
}

.profile-challenges-index .habits > div {
  margin-bottom: 45px;
}

.profile-challenges-index ul {
  margin-left: 20px;
}

.profile-challenges-index li .improvement-title {
  margin-bottom: 5px;
}

.profile-challenges-index li .improvement-link {
  margin-top: 10px;
}

.improvement-overview span {
  color: $nu-blue;
  margin-left: 15px;
}

.profile-habits-show h1 span {
  color: $nu-blue;
  font-size: 0.7em;
  margin-right: 10px;
}