.top-nav {
  border-bottom: 1px solid #CDECE9;
  height: 80px;
  width: 100%;
}

.top-nav li {
  display: inline-block;
}

.top-nav li {
  font-size: 1.1em;
  line-height: 80px;
  padding-right: 20px;
}

.top-nav .right-side {
  float: right;
}

.top-nav .left-side {
  float: left;
}

.top-nav li:first-child {
  margin-left: 10px;
}
.top-nav .home-logo {
  height: 60px;
  margin-left: 32%;
  margin-top: 10px;
  width: 60px;
}