.notifications-menu-button button {
  color: #7E908E;
  font-size: 90%;
  vertical-align: middle;
}

.notifications-menu-button button:hover {
  color: #8BD1CA;
}

.notifications-list ul li {
  background-color: #BFBFBF;
  color: black;
  height: 60px;
  line-height: 60px;
}

.notifications-list ul .notifications-section-title {
  background-color: white;
  height: 40px;
  line-height: 40px;
  text-align: left;
}

.notifications-list ul .notifications-section-title span, .notifications-section-title span a {
  color: #F1613A;
  float: right;
  font-size: 0.9em;
  text-decoration: none;
}

.notifications-list .notification-link {
  display: none;
}

.notifications-list .notification-list-item:hover {
  cursor: pointer;
}