.notifications-menu-button button {
  font-size: 90%;
}

.notifications-menu-button button:hover {
  color: #8B8B8B;
}

.notifications-list ul li {
  background-color: #FCFCFC;
  height: 80px;
  line-height: 40px;
}

.notifications-list ul .notifications-title-item {
  background-color: white;
  height: 40px;
}

.notifications-list ul .notifications-title-item span {
  font-size: 0.7em;
}