.profile-show h1:first-child {
  margin-bottom: 8px;
}

.profile-show > a, .profile-show > div {
  margin-top: 30px;
}

.photo-with-names > div {
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}