.profile-summary {
  border: 1px solid #CDECE9;
  display: inline-block;
  height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: top;
  width: 220px;
}

.profile-summary .profile-summary-pic {
  border-radius: 150px;
  margin-top: 35px;
  max-height: 150px;
  max-width: 150px;
}

.profile-summary h3, .profile-summary h4 {
  margin-left: 10px;
}

.profile-summary h4:last-child {
  margin-bottom: 10px;
}

.profile-summary input[type="submit"] {
  margin-left: -1px;
  margin-top: 13px;
}

.profile-summary .profile-summary-pic {
  max-width: 200px;
}