.profile-summary {
  background: #CDECE9;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.profile-summary h3 {
  margin-left: 10px;
}

.profile-summary input[type="submit"] {
  margin-left: -1px;
  margin-top: 13px;
}