.profile-show > a, .profile-show > div {
  margin-top: 30px;
}

.photo-with-names > div {
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;

.follow-subscribe-summary td {
  padding: 10px;
  text-align: center;
}

.follow-subscribe-summary td:first-child {
  border-right: 1px solid black;
}

.profile-overview > div {
  display: inline-block;
  vertical-align: top;
}

.profile-overview .image-name-points {
  height: 250px;
}

.profile-overview .image-name-points > div {
  display: inline-block;
  vertical-align: top;
}

.profile-overview .profile-pic-with-link {
  text-align: center;
}

.profile-overview .profile-pic {
  background: #D8DFE6;
  height: 200px;
  margin-bottom: 15px;
  width: 200px;
}

.name-and-points {
  margin-top: 50px;
}

.social-summary-and-interests {
  margin-top: 50px;
}

.image-name-points .name-and-points {
  padding-left: 20px;
}

.profile-relation span {
  color: $faded-gray;
  font-size: 0.9em;
}

.profile-overview .social-summary-and-interests {
  margin-left: 100px;
}

.feed-summary {
  width: 40%;
}

.feed-summary .new-newsfeed-item, .feed-summary .newsfeed-item {
  box-shadow: 5px 5px 5px $nu-red;
  padding: 15px;
}

.feed-summary .newsfeed-item {
  margin-top: 20px;
}