.profile-show h1:first-child {
  margin-bottom: 8px;
}

.profile-show > a, .profile-show > div {
  margin-top: 30px;
}

.profile-show .follow-subscribe-summary td {
  padding: 10px;
  text-align: center;
}

.profile-show .follow-subscribe-summary td:first-child {
  border-right: 1px solid black;
}