// #search-form {
//   margin-left: -20px;
//   background: red;
// }

#search-form div {
  display: inline-block;
}

#search-input {
  width: 200px;
}

#search-submit {
  line-height: 80px;
  margin-bottom: 5px;
  margin-left: 30px;
  
}