.settings-overview-table td {
  padding-top: 15px;
}

.settings-overview-table td:first-child {
  padding-right: 30px;
  padding-left: 10px;
  text-align: left;
}

.settings-overview-table td:last-child {
  padding-right: 10px;
  text-align: right;
}