.settings-index h1:first-child {
  margin-bottom: 60px;
}

.settings-index .settings-section {
  margin-bottom: 40px;
  width: 300px;
}

.settings-section .section-header {
  margin-bottom: -5px;
}

.settings-section .section-description {
  border-bottom: 1px solid $nu-green;
}