.site-page h1 {
  color: $nu-blue;
  margin-bottom: 15px;
}

.site-page h2 {
  color: $nu-green;
  margin-bottom: 35px;
}

.site-page p {
  margin-left: 15px; 
}

.sitemap .sitemap-sections > li {
  font-size: 1.3em;
  margin-top: 20px;
}

.sitemap .sitemap-subsections li {
  font-size: 0.8em;
  margin-left: 20px;
  margin-top: 10px;
}