.stats-index > div > div {
  background: white;
  margin-bottom: 20px;
  text-align: center;
}

.stats-index > .calculator-and-leaderboard {
  height: 300px;
  width: 39%;
}

.stats-index > .emissions-points-overview {
  width: 59%;
}

.calculator-and-leaderboard .leaderboard-overview {
  height: 500px;
}

.emissions-points-overview .worlds-and-sections {
  height: 300px;
}

.emissions-points-overview .point-breakdown {
  height: 400px;
}

.calculator-reminder, .us-allotment {
  height: 200px;
}

.emissions-points-overview .co2e-overview {
  height: 300px;
}

.leaderboard-overview .leaderboard-categories {
  margin-left: 20%;
  text-align: left;
}

.leaderboard-categories li {
  padding-top: 40px;
}

.co2e-overview .footprint-sections > div {
  display: inline-block;
  height: 50px;
  line-height: 25px;
  margin: 10px;
  min-width: 100px;
}