.stats-index > div > div {
  background: white;
  margin-bottom: 20px;
}

.stats-index > .calculator-and-leaderboard {
  height: 300px;
  width: 39%;
}

.stats-index > .emissions-points-overview {
  height: 450px;
  width: 59%;
}

.calculator-and-leaderboard .leaderboard-overview {
  height: 500px;
}

.emissions-points-overview .worlds-and-sections {
  height: 300px;
}

.emissions-points-overview .point-breakdown {
  height: 400px;
}

.emissions-points-overview .worlds-and-sections > div {
  display: inline-block;
  width: 49%;
  height: 100%;
}

.worlds-and-sections .worlds-used {
  border-right: 1px solid $nu-red;
  height: 100%;
}

.calculator-reminder, .us-allotment {
  height: 200px;
}