.transportation-component {
  margin-top: 40px;
}

.transportation-component h2 {
  margin-bottom: 15px;
}

.transportation-component h3 {
  margin-top: 5px;
}

.transportation-component h4 {
  margin-top: 10px;
}

.transportation-component table {
  margin-left: 10px;
}

.transportation-component td:first-child {
  font-size: 1.27em;
  padding-bottom: 10px;
}

.transportation-component td:last-child {
  color: #6A5049;
  padding-left: 10px;
}