.utilities-index .return-link {
  margin-bottom: 35px;
}

.utility-form-overview {
  border: 1px solid $nu-red;
  padding: 5px 5px;
  margin-bottom: 50px;
}

.utility-form-overview .radio-button-list li {
  margin-bottom: 5px;
}