.o-bubble-heading {
  height: 20px;
  line-height: 20px;
  margin-bottom: $spacing-unit / 2;
  margin-top: $spacing-unit;
  padding: 0 $spacing-unit / 2;
}

.o-bubble-heading--left, .o-bubble-heading--right {
  margin-bottom: 0px;
}

.o-bubble-heading--left {
  float: left;
}

.o-bubble-heading--right {
  float: right;
}