.o-bubble {
  background: $color-white;
  border: 1px solid #D5D4D4;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
  display: inline-block;
  margin-top: $spacing-unit;
  padding: $spacing-unit;
  vertical-align: top;
}

.o-bubble--full {
  display: block;
}

.o-bubble--centered-content {
  text-align: center;
}