.o-dropdown {
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
  display: none;
  margin-top: 3px;
  position: absolute;
  right: 0px;
  width: 300px;
}

.o-dropdown--is-open {
  display: block;
  z-index: 2;  
}

.o-dropdown__li {
  background: white;
  border-bottom: 1px solid $color-swans-down;
  border-collapse: true;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  &:last-child {
    border: none;
  }
}