.o-img--round {
  border-radius: 1000px;
}

.o-img--tiny {
  height: 30px;
  width: 30px;
}

.o-img--small {
  height: 40px;
  width: 40px;
}

.o-img--med {
  height: 65px;
  width: 65px;
}

.o-img--large {

}