.o-media {
}

.o-media, .o-media__bd {
  overflow: hidden;
  _overflow: visible; 
  zoom: 1;
}

.o-media__bd {
  display: inline-block;
}

.o-media__img {
  float: left;
  margin-right: $spacing-unit / 2;
  img {
    display: block;
  }
}

.o-media__ext {
  float: right;
}