.o-point-circle {
  border: 2px solid $color-wild-willow;
  border-radius: 100px;
  color: $color-wild-willow;
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

.o-point-circle--small {
  height: 22px;
  line-height: 22px;
  width: 22px;
}

.o-point-circle--large {
  height: 60px;
  line-height: 60px;
  width: 60px;
}