.o-stat-section {
  min-width: 300px;
}

.o-stat-section--left {
  float: left;
  width: 33%;
}

.o-stat-section--right {
  float: right;
  width: 64%;
}

.o-stat-section__section--top {
  height: 235px;
}

.o-stat-section__section--top__heading {
  padding-top: $spacing-unit * 2;
}

.o-stat-section__section--top__heading--high {
  padding-top: $spacing-unit;
}