<div class="beta-page">
<h1>We're glad you're here</h1>
<%= image_tag("nu_color_logo.png", alt: "Welcome to Nu", class: "beta-logo") %>
<div class="about">
  <h2>About Nu.world</h2>
  <p>SOME SHTUFF</p>
</div>  
</div>