<div class="beta-page">
  <h1>We're glad you're here</h1>
  <%= image_tag("nu_color_logo.svg", alt: "Welcome to Nu", class: "beta-logo") %>
  <div class="about">
    <h2 class="beta-header">About</h2>
    <p>         
      Whether it’s constantly on the forefront of your thought, or simply a conversation you had once with your left leaning friend, chances are you’ve heard of the negative impacts of human activity on the environment: rising levels of CO2, ocean acidification, rampant deforestation, air so polluted children can’t play outside; civilization’s dirty little secrets. It seems that for every different problem we’ve created, we’ve managed to point the finger another way: at the fossil fuel industry; at weak or absent government action; at the meat industry; at the automotive industry.
    </p>
    <p>
      Here at Nu.world, we have a different question to put forward: what happens if we turn that finger around? What if we stop blaming others, and place the burden on our own shoulders for a change? What would that look like? What would happen? 
    </p>
    <p>
      It’s our hope that changing this perspective will help us build a strong and lasting environmental solution from the ground up. No more waiting on climate talks sponsored by polluting industries. No more waiting for technological cure alls. Instead, a mass of individuals doing the small things they can to lower their own environmental impact, and encourage the industry, government, and others around them to do the same. 
    </p>
    <p>
      How? By giving a shit. By giving a shit, then taking intentional, achievable steps to do what you can to help. Even better, engage in a community of individuals who are working to do the same thing. Realize your impact, track your progress, share your ideas, and change the world. It’s that simple. 
    </p>
    <p>
      Sound like something you want in on? We hope so. <%= link_to "Sign up for the beta", new_beta_user_path %>
    </p>
  </div>
</div>