<div class="beta-page">
  <div class="beta-thanks">
    <h2 class="beta-header">Thanks!</h2>
    <p>
      We really appreciate you signing up! We will keep you updated through emails with our progress towards a beta launch. We're looking forward to changing the world with you, one step at a time!
    </p>
    <p class="align-right"> - The team at Nu.world</p>
  </div>
</div>