<p class="c-chal-info__lbl">Nu Score</p>
<h2 class="o-point-circle o-point-circle--large"><%= challenge.points %></h2>
<p class="c-chal-info__lbl">Level of Difficult</p>
<p class="u-text--apricot"><%= challenge.difficulty %> out of 5</p>
<p class="c-chal-info__lbl">No. of Check-ins</p>
<div class="c-chal-info__upd-num">
  <% (challenge.update_num).times do  %>
    <div class="c-challenges-list__li__ext__upd-num__dot"></div> 
  <% end %>
</div>
<p class="c-chal-info__lbl">Length</p>
<p class="c-chal-info__clock"><i class="fa fa-2x fa-clock-o u-text--monte-carlo"></i></p>
<p class="c-chal-info__clock u-text--monte-carlo"></p>