<p>Nu Score</p>
<h2 class="o-point-circle o-point-circle--large"><%= challenge.points %></h2>
<p>Level of Difficult</p>
<p class="u-text--apricot"><%= challenge.difficulty %> out of 5</p>
<p>Check in #</p>
<p>Length</p>