<div class="wrapper centered-content">

  <div class="o-bubble">
    <h1>Diet Overview <span><%= @footprint.friendly_creation_date %></span></h1>
    
    <h2>Emissions: <span><%= @diet.emissions_overview %></span></h2>

    <h2>Type: <span><%= @diet.diet_type.capitalize %></span></h2>

    <h3><%= link_to "Edit diet", edit_footprint_diet_path(footprint_id: @footprint.id, id:@diet.id) %></h3>
  </div> <!-- o-bubble -->

</div> <!-- wrapper centered-content -->