<table  class="settings-overview-table">
  <tr>
    <td>State</td>
    <td><%= privacy.display_location.capitalize %></td>
  </tr>
  <tr>
    <td>Emissions</td>
    <td><%= privacy.display_stats.capitalize %></td>
  </tr>
  <tr>
    <td>Posts</td>
    <td><%= privacy.display_feed.capitalize %></td>
  </tr>
</table>