<ul>
  <% habits.each do |habit| %>
    <li class="improvement-overview">
      <h3 class="improvement-title"><%= habit.title %> <span><%= habit.progress_category %></span></h3>  
      <h4 class="improvement-caption"><%= habit.caption %></h4>
      <h4 class="improvement-link"><%= link_to "View habit", profile_habit_path(profile_id: profile.id, id: habit.id) %></h4>
    </li>
  <% end %>
</ul>