<div class="calculator-component waters-show">
  <h1>Water Overview <span><%= @footprint.friendly_creation_date %></span></h1>

  <h2>Emissions: <span><%= @water.emissions_overview %></span></h2>

  <h2>Usage: <span><%= @water.usage_overview %></span></h2>

  <h3><%= link_to "Edit water use", edit_footprint_water_path(footprint_id: @footprint.id, id: @water.id) %></h3>
</div>