<div class="profile-challenges-index">
  <h1>Improve yo shit</h1>
  <div class="challenges">

    <div class="started-challenges">
      <h2>Challenges in progress</h2>
      <% if @profile_challenges[:started].empty? %>
        <h4>You're not working on any challenges</h4>
      <% else %>
        <%= render partial: "profiles/profile_challenges/started_challenges_list", locals: {profile_challenges: @profile_challenges[:started], profile: @profile} %>
      <% end %>
    </div>

    <div class="new-challenges">
      <h2>Challenges to start</h2>
      <% if @unstarted_challenges.empty? %>
        <h4>No more challenges left to start!</h4>
      <% else %>
        <%= render partial: "profiles/profile_challenges/unstarted_challenges_list", locals: {challenges: @unstarted_challenges, profile: @profile} %>
      <% end %>
    </div>

    <div class="completed-challenges">
      <h2>Completed challenges</h2>
      <% if @profile_challenges[:completed].empty? %>
        <h4>You haven't completed any challenges yet</h4>
      <% else %>
        <%= render partial: "profiles/profile_challenges/completed_challenges_list", locals: {profile_challenges: @profile_challenges[:completed], profile: @profile} %>
      <% end %>
    </div>

  </div> <!-- challenges -->
</div>
