<%= form_tag(profile_search_path(profile), method: :post) do %>
  <%= text_field_tag(:query, params[:query], placeholder: "Search...", class: "c-search-bar__input") %></div>
  <%= button_tag("<i class='fa fa-search'></i>".html_safe, class: "c-search-bar__submit") %>
<% end %> 