// Colors by Name that Color at http://chir.ag/projects/name-that-color/#6195ED

// Lightest at top

// Blues
$color-aqua-haze: #E7F1F0;
$color-swans-down: #DEF1EF;
$color-monte-carlo: #8BD1CA;
$color-fountain-blue: #6AC1B9;
$color-breaker-bay: #53A49C;

// Reds
$color-bridesmaid: #FEEBE6;
$color-apricot: #E88469;

// Grays
$color-white: #FFFFFF;
$color-wild-sand: #F6F6F6;
$color-alto: #E0E0E0;
$color-silver-sand: #B7BDBD;
$color-edward: #A6B1B0;
$color-sirocco: #6F8381;
$color-black: #000000;

// Yellows
$color-goldenrod: #FCD776;
$color-saffron-mango: #F8C651;
$color-flax: #EDCF80;
$color-selective-yellow: #FFB907;

// Greens
$color-conifer: #B7D947;
$color-wild-willow: #B1D276;

// Pinks 
$color-mandy: #E64D7D;

// Oranges
$color-flamingo: #F1613A;

// Purples
$color-east-side: #B17FCE;