<%= image_tag(comment.profile.profile_photo, class: "o-media__img o-img--tiny o-img--round c-comments-list__li__img") %>

<div class="o-media__bd c-comments-list__li__bd">
  <%= comment.profile.full_name %> <%= comment.text %>
</div>

<div class="o-media__ext"></div>