<ul>
  <% newsfeed_item.comments.each do |comment| %>
    <li class="new-comment"><%= render partial: "profiles/comments/new_comment", locals: {profile: profile, newsfeed_item: newsfeed_item} %></li>
    <li class="comment"><%= render partial: "profiles/comments/comment_overview", locals: {comment: comment, profile: profile} %></li>  
  <% end %>
  
</ul>
