<ul class="comment-list">
  <% newsfeed_item.comments.reverse.each do |comment| %>
    <li class="comment"><%= render partial: "profiles/comments/comment_overview", locals: {comment: comment} %></li>  
  <% end %>
  <li class="new-comment"><%= render partial: "profiles/comments/new_comment", locals: {profile: profile, newsfeed_item: newsfeed_item} %></li>
</ul>
