<div class="calculator-component home-energies-show">
  <h1>Home Energy Overview <span><%= @footprint.friendly_creation_date %></span></h1>

  <h2>Emissions: <span><%= @home_energy.emissions_overview %></span></h2>

  <% @home_energy.utilities.each do |utility| %>
    
    <div class="sub-section-overview">
      <%= render partial: "profiles/footprints/utilities/utility_summary", locals: {utility: utility} %>
    </div>

  <% end %>
  <h3><%= link_to("Back to overview", profile_footprint_path(profile_id: @footprint.profile.id, id: @footprint.id)) %></h3>
</div> <!-- home-energies-show -->