.c-calculator-questions {
  padding: $spacing-unit * 2 $spacing-unit;
  text-align: center;
}

.c-calculator-questions__q-block {
  margin-bottom: $spacing-unit * 1.5;
  &:first-child {
    margin-top: $spacing-unit;
  }
}

.c-calculator-questions__q-block--utility {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  text-align: left;
}

.c-calculator-questions__q-block--utility__title {
  margin-bottom: $spacing-unit;
}

.c-calculator-questions__q-block--utility__bool {
  margin-bottom: $spacing-unit / 2;
}


.c-calculator-questions__q-block__prompt {
  margin-bottom: $spacing-unit / 2;
}

.c-calculator-questions__q-block__response-list {
  margin: 0 auto;
  max-width: 600px;
}

.c-calculator-questions__q-block__response-list__li--fix-width {
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-unit * 4 ;
  text-align: left;
  width: 200px;
}

.c-calculator-questions__q-block__response-list__response {
  + label {
    color: $color-edward;
  }
  &:checked + label {
    color: $color-monte-carlo;
  }
}