.c-challenges-list {
  width: 100%;
}

.c-challenges-list__heading {
  height: $spacing-unit / 2;
  margin: $spacing-unit / 2;
}

.c-challenges-list__heading__left {
  color: $color-sirocco;
  float: left;
  padding-left: $spacing-unit;
}

.c-challenges-list__heading__right {
  float: right;
  padding-right: $spacing-unit;
}

.c-challenges-list__heading--push-down {
  margin-top: $spacing-unit * 1.5;
}

.c-challenges-list__li {
  border-bottom: 1px solid $color-aqua-haze;
  height: 100px;
  padding-bottom: $spacing-unit;
  padding-top: $spacing-unit;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
    padding-bottom: $spacing-unit / 2;
  }
}

.c-challenges-list__li__img, .c-challenges-list__li__check-in {
  padding-top: $spacing-unit / 2;
}

.c-challenges-list__li__img {
  height: 70px;
  width: 70px;
}

.c-challenges-list__li__bd {
  padding-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit;
  width: 67%;
}

.c-challenges-list__li__bd--push-down {
  padding-top: $spacing-unit / 2;
}

.c-challenges-list__li__ext {
  line-height: 40px;
  text-align: center;
}

.c-challenges-list__li__bd__el {
  margin-bottom: $spacing-unit / 4;
}

.c-challenges-list__li__ext__el {
  font-size: 80%;
  margin-bottom: $spacing-unit / 2;
  &:first-child {
    margin-bottom: $spacing-unit / 3;
  }
}

.c-challenges-list__li__ext__upd-num {
  text-align: center;
}

.c-challenges-list__li__ext__upd-num__dot {
  background: $color-goldenrod;
  border-radius: 5px;
  display: inline-block;
  height: 5px;
  margin-bottom: $spacing-unit;
  margin-right: $spacing-unit / 5;
  vertical-align: top;
  width: 5px;
}