.challenge-headers {
  padding: $spacing-unit 0 $spacing-unit / 2 0;
}

.challenge-navigation-link {
  display: inline-block;
  float: right;
  margin-right: -48px;
  text-align: right;
  text-decoration: none;
}