.c-comments-list__li {
  margin-bottom: 0;
  min-height: 60px;
  padding: 0 $spacing-unit / 2;
}

.c-comments-list__li__img {
  margin-right: $spacing-unit / 5;
  margin-top: $spacing-unit * 0.6;
}

.c-comments-list__li__bd {
  margin-top: $spacing-unit;
  padding-bottom: $spacing-unit / 2;
  width: 80%;
}

.c-comments-list__li__bd__link {
  margin-right: $spacing-unit / 4;
}

.c-comments-list__li__bd__destroy {
  font-size: 80%;
  margin-top: $spacing-unit / 4;
}

.c-comments-list__new {
  background: $color-aqua-haze;
  height: 60px;
  line-height: 60px;
}

.c-comments-list__new__text-field {
  border: 1px solid $color-monte-carlo;
  margin-right: $spacing-unit / 3;
  width: 62% !important;
}

.c-comments-list__comment {
  height: inherit;
  font-size: 90%;
  &:not(:last-child) {
    border-bottom: 1px solid $color-swans-down;
  }
}

.c-comments-list__comment__pd {
  margin-top: $spacing-unit;
}