.c-emissions-allowance__desc {
  margin: 0 auto;
  max-width: 500px;
}

.c-emissions-allowance__desc__learn {
  display: inline-block;
  margin-bottom: $spacing-unit;
  padding-left: $spacing-unit / 2;
}