.c-footprint-results {
  text-align: center;
}

.c-footprint-results__title {
  border-bottom: 1px solid $color-monte-carlo;
  margin-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.c-footprint-results__gl {
  margin-right: $spacing-unit * 1.5;
}

.c-footprint-results__section {
  display: inline-block;
  vertical-align: top;
  width: 400px;
}

.c-footprint-results__text {
  margin-top: $spacing-unit * 3;
  text-align: left;
}

.c-footprint-results__gl__legend {
  margin-left: $spacing-unit * 2;
  text-align: left;
}