.c-footprint-results {
  text-align: center;
}

.c-footprint-results__title {
  border-bottom: 1px solid $color-monte-carlo;
  margin-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.c-footprint-results__section {
  display: inline-block;
  width: 400px;
}