.c-leaderboard__title {
  border-bottom: 1px solid $color-swans-down;
  padding-bottom: $spacing-unit / 2;
}

.c-leaderboard__list {
  width: 97%;
}

.c-leaderboard__li {
  border: 1px solid $color-apricot;
  border-radius: 100px;
  height: 25px;
  line-height: 25px;
  margin-bottom: $spacing-unit * 1.5;
  padding: $spacing-unit / 2;
  text-align: left;
}

.c-leaderboard__li__p {
  padding-top: 6px;
}

.c-leaderboard__li__p__place {
  color: $color-monte-carlo;
  padding-right: $spacing-unit / 2;
}

.c-leaderboard__li__p__img {
  margin-top: -$spacing-unit;
  vertical-align: top;
}

.c-leaderboard__li__p__name {
  color: $color-black;
  padding-left: $spacing-unit;
}

.c-leaderboard__li__p__points {
  color: $color-apricot;
  float: right;
}