.new-newsfeed-item form, .newsfeed-item form {
  width: 90%;
}

.newsfeed-header .newsfeed-profile-pic {
  border-radius: 75px;
  max-width: 75px;
}

.newsfeed-header > div {
  display: inline-block;
}

.newsfeed-header .header-text {
  padding-left: 15px;
}