.c-newsfeed-list {
  text-align: center;
}

.c-newsfeed-list__item {
  display: inline-block;
  text-align: left;
  width: 375px;
  &:nth-child(odd) {
    float: left;
  }
  &:nth-child(even) {
    float: right;
  }
}

.c-newsfeed-list__item__text {
  color: $color-black;
  margin-bottom: $spacing-unit / 3;
}

.c-newsfeed-list__item__bd {
  width: 85%;
}

.c-newsfeed-list__item__bd__pd {
  color: $color-edward;
  display: inline-block;
  font-size: 90%;
  margin-left: $spacing-unit / 2;
}

.c-newsfeed-list__item__bd__tag {
  height: 25px;
  line-height: 25px;
  margin: $spacing-unit / 2 0 0 0;
  &:not(:last-child) {
    margin-right: $spacing-unit / 2;
  }
}