.c-newsfeed-list {
  text-align: center;
}

.c-newsfeed-list__item {
  display: inline-block;
  text-align: left;
  width: 375px;
  &:nth-child(odd) {
    margin-right: $spacing-unit; 
  }
}

.c-newsfeed-list__item__pd {
  color: $color-edward;
  display: inline-block;
  font-size: 90%;
  margin-left: $spacing-unit;
}