.c-noti-dropdown {
  right: 125px;
}

.c-noti-dropdown__li {
  text-align: left;
}

.c-noti-dropdown__li__img {
  margin-right: $spacing-unit / 3;
  margin-top: 3px;
}

.c-noti-dropdown__li__bd {
  font-size: 80%;
}

.c-noti-dropdown__li--header__right {
  display: inline-block;
  float: right;
}

.c-noti-dropdown__li--header__right--req-num {
  background: $color-apricot;
  border-radius: 6px;
  color: $color-white;
  height: 20px;
  line-height: 20px;
  padding: 2px 5px;
  vertical-align: middle;
}

.c-noti-dropdown__li__pf-resp {
  border: 1px solid $color-alto;
  border-radius: 15px;
  display: inline-block;
  font-size: 70%;
  height: 15px;
  line-height: 15px;
  margin-right: 5px;
  text-align: center;
  width: 15px;
}