.c-profile-heading {
  // background inline at profiles#show
  height: 275px;
  padding-top: $spacing-unit;
  width: 100%;
}

.c-profile-heading__img-and-link, .c-profile-heading__info {
  display: inline-block;
  vertical-align: top; 
}

.c-profile-heading__img-and-link {
  margin-left: $spacing-unit * 4;
  min-width: 200px;
}

.c-profile-heading__info {
  margin-top: $spacing-unit / 2;
  width: 60%;
}

.c-profile-heading__info__text {
  color: $color-white;
}

.c-profile-heading__info__nlj {
  float: left;
  width: 200px;
}

.c-profile-heading__info__ple {
  float: right;
  width: 200px;
}

.c-profile-heading__info__interests {
  display: block;
  float: left;
  width: 100%;
}

.c-profile-heading__info__ple__bar-outline {
  border: 1px solid $color-monte-carlo;
  border-radius: 100px;
  display: inline-block;
  height: 15px;
  margin-bottom: $spacing-unit / 3;
  overflow: hidden;
  vertical-align: middle;
  width: 190px;
}

.c-profile-heading__info__ple__bar-fill {
  background-image: linear-gradient(-90deg, #F98161 0%, #FCD776 37%, #B5DE6D 70%, #63CAC0 100%);  
  height: inherit;
  // width inline
}

.c-profile-heading__info__ple__bar-label {
  color: $color-monte-carlo;
  float: left;
}

.c-profile-heading__info__ple__bar-lm {
  float: right;
}