.c-prof-dropdown {

}

.c-prof-dropdown__link {
  color: $color-black;
}

.c-prof-dropdown__prof-summary {
  line-height: 15px;
}

.c-prof-dropdown__prof-summary__img {
  border-radius: 120px;
  margin-bottom: 10px;
  margin-top: 15px;
  max-width: 120px;
}