.c-prof-dropdown {
  right: 35px;
}

.c-prof-dropdown__link {
  color: $color-black;
}

.c-prof-dropdown__prof-summary {
  height: 200px;
  line-height: 15px;
  vertical-align: middle;
}

.c-prof-dropdown__prof-summary__img {
  border-radius: 120px;
  height: 85px;
  margin-bottom: $spacing-unit / 2;
  margin-top: $spacing-unit;
  width: 85px;
}

.c-prof-dropdown__prof-summary__name {
  margin-bottom: $spacing-unit / 2;
}