.c-rss-newsfeed-item__media {
  border: 1px solid $color-alto;
  border-radius: 6px;
  margin-bottom: $spacing-unit / 2;
}

.c-rss-newsfeed-item__media__img {
  height: 75px;
  width: 75px;
}

.c-rss-newsfeed-item__media__bd {
  padding: $spacing-unit / 2;
  width: 70%;
}

.c-rss-newsfeed-item__media__bd__text {
  font-size: 80%;
}