.c-rss-newsfeed-item__media {
  border: 1px solid $color-alto;
  border-radius: 6px;
  height: 120px;
  overflow: hidden;
}

.c-rss-newsfeed-item__media__img {
  height: 100%;
  width: 120px;
}

.c-rss-newsfeed-item__media__bd {
  width: 70%;
}

.c-rss-newsfeed-item__media__bd__text {
  font-size: 80%;
}