.c-search-bar {
  border: 2px solid $color-wild-willow;
  border-radius: 45px;
  height: 32px;
  vertical-align: middle;
  width: 220px;
}

.c-search-bar__input {
  border: none;
  float: left;
  margin: 3px 0 0 10px;
  outline: none;
  width: 140px;
}

.c-search-bar__submit {
  background: none;
  color: $color-sirocco;
  float: right;
  margin-top: -3px;
  &:hover {
    cursor: pointer;
  }
}
// #search-input {
//   padding-left: 10px;
//   width: 120px;
// }

// #search-input input {
//   border: none;
//   color: $faded-gray;
// }

// #search-input input:focus {
//   -webkit-border-radius: 20px;
//   -moz-border-radius: 20px;
//   border: 2px solid #9ecaed;
//   border-radius: 20px;
//   outline: none;
//   padding-left: 8px;
// }

// #search-submit {
//   margin-left: 30px;
// }

// #search-submit button {
//   background: none;
//   border: none;
// }

// #search-submit button i {
//   color: #8F8F8F;
// }