.c-search-results {
  margin-top: $spacing-unit * 2;
  text-align: center;
}

.c-search-results__sec {
  border-bottom: 1px solid $color-monte-carlo;
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit;
}