.c-search-bar {
  border: 2px solid $color-wild-willow;
  border-radius: 45px;
  height: 32px;
  vertical-align: middle;
  width: 220px;
}

.c-search-bar__input {
  border: none;
  float: left;
  margin: 3px 0 0 10px;
  outline: none;
  width: 140px !important;
}

.c-search-bar__submit {
  background: none;
  color: $color-sirocco;
  float: right;
  margin-top: -3px;
  &:hover {
    cursor: pointer;
  }
}