.c-settings-section {
  display: block;
}

.c-settings-section__heading {
  border-bottom: 1px solid $color-monte-carlo;
  color: $color-edward;
  padding-bottom: $spacing-unit / 3;
}

.c-settings-section__form__line {
  margin-bottom: $spacing-unit / 4;
}