.stats-index > div > div {
  background: white;
  margin-bottom: 20px;
  text-align: center;
}

.stats-index > .calculator-and-leaderboard {
  height: 300px;
  width: 39%;
}

.stats-index > .emissions-points-overview {
  width: 59%;
}

.emissions-points-overview .worlds-and-sections {
  height: 300px;
}

.emissions-points-overview .point-breakdown {
  height: 400px;
}

.calculator-reminder, .us-allotment {
  height: 200px;
}

.emissions-points-overview .co2e-overview {
  height: 300px;
}

.leaderboard-overview .leaderboard-categories {
  margin-left: 20%;
  text-align: left;
}

.leaderboard-categories li {
  padding-top: 40px;
}

.co2e-overview .footprint-sections > div {
  display: inline-block;
  height: 50px;
  line-height: 25px;
  margin: 10px;
  min-width: 100px;
}

.point-breakdown > div {
  display: inline-block; 
  height: 340px;
  width: 49%;
  vertical-align: top;
}

.point-breakdown .point-overview-numbers ul {
  margin-left: 40px;
  text-align: left;
}

.point-breakdown .point-overview-numbers li {
  margin-top: 20px;
}

.point-overview-numbers li span {
  color: $faded-gray;
  padding-left: 25px;
}