.c-top-nav {
  background: $color-white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  height: 80px;
  line-height: 80px;
  width: 100%;
}

.c-top-nav__nav-section {
  padding:  0 $spacing-unit / 2;
  text-align: center;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}

.c-top-nav__nav-section--half {
  width: 50%;
}

.c-top-nav__nav-section--wide {
  width: 40%;
}

.c-top-nav__nav-section--narrow {
  width: 20%;
}

.c-top-nav__nav-section__img {
  border-radius: 40px;
  height: 40px;
  vertical-align: middle;
  width: 40px;
}

.c-top-nav__nav-section__text-link {
  color: $color-sirocco;
  &:hover {
    border-bottom: 2px solid $color-monte-carlo;
    color: $color-monte-carlo;
    padding-bottom: $spacing-unit / 4;
  }
}

.c-top-nav__nav-section__text-link__icon {
  padding-right: $spacing-unit / 4;
}

.c-top-nav__nav-section__icon-link {
  background: none;
  color: $color-sirocco;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
  }
}

.c-top-nav__nav-section__icon-link__noti-dot {
  background-color: $color-sirocco;
  border-radius: 6px;
  height: 6px;
  margin-left: 31px;
  position: absolute;
  top: 30px;
  width: 6px;
  z-index: 2;
}

.c-top-nav__nav-section__icon-link__noti-dot--apricot {
  background-color: $color-apricot;
}