// Place all the styles related to the betausers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-top > div, .inline-fields div {
  display: inline-block;
  vertical-align: top;
}

.logo {
  background: green;
  height: 500px;
  margin-left: 8%;
  margin-right: 40px;
  width: 500px;
}

.sign-up {
  background: red;
  height: 500px;
  width: 500px;
}

.sign-up h2:first-child {
  position: relative;
  text-align: center;
}

.form-with-errors span {
  display: block;
}

.about {
  margin-left: 24%;
  max-width: 50%;
  min-width: 200px;
}

.about h3:first-child {
  text-align: center;
}


