<% if profile_completed_challenges.empty? %>
  <li>No completed challenges</li>
<% else %>
  <% profile_completed_challenges.each do |profile_completed_challenge| %>
    <li>
      <h3><%= profile_completed_challenge.challenge.title %></h3>
      <h4>Completed <%= profile_completed_challenge.completion_date %></h4>
      <h4><%= link_to "View", profile_profile_completed_challenge_path(profile_id: @profile.id, id: profile_completed_challenge.id) %></h4>
    </li>
  <% end %>
<% end %>