<div class="o-wrapper centered-content">
  
  <div class="challenge-headers">
    <h4>
      Completed Challenges
      <%= link_to "Start a new challenge", profile_challenges_path(@profile.id), class: "challenge-navigation-link orange-link" %>
    </h4>
  </div>

  <div class="o-bubble">
    <ul class="completed-challenges-list">
      <%= render partial: "profiles/challenges/profile_completed_challenges/completed_challenges_list", locals: {profile_completed_challenges: @profile_completed_challenges, profile: @profile} %>
    </ul>
  </div> <!-- o-bubble -->

</div> <!-- o-wrapper centered-content -->