<div class="o-wrapper">
  
  <div class="c-challenges-list__heading c-challenges-list__heading--push-down">
    <h4 class="c-challenges-list__heading__left">
      Completed Challenges
    </h4>
    <h5 class="c-challenges-list__heading__right">
      <%= link_to "Start a new challenge", profile_challenges_path(@profile.id), class: "u-text--orange" %>
    </h5>
  </div>

  <div class="o-bubble o-bubble--full">
    <ul class="completed-challenges-list">
      <%= render partial: "profiles/challenges/profile_completed_challenges/completed_challenges_list", locals: {profile_completed_challenges: @profile_completed_challenges, profile: @profile} %>
    </ul>
  </div> <!-- o-bubble  o-bubble--full-->

</div> <!-- o-wrapper o-bubble--full -->